<% @parks.each do |park| %>
  <div class="max-w-xs rounded bg-white overflow-hidden shadow-lg mb-8">
    <%= image_tag(park.url, class: "w-full h-64")%>
    <div class="px-6 py-4">
      <div class="font-bold text-xl leading-6 mb-4"><%= park.name %></div>
      <p class="text-black text-base mb-4">
        <%= truncate(park.description, length: 100) %>
      </p>
      <p class="text-center"><%= link_to "explore", park_path(park.id), class: "text-orange-600 text-center mb-4 underline text-sm text-serif" %></p>
    </div>
  </div>
<% end %>
