<% if @parks.count == 1 %>
  <div class="flex justify-center">
    <%= render 'formreq' %>
  </div>
<% elsif @parks.count == 2 %>
  <div class="grid grid-cols-2 gap-2 ml-64 mb-16">
    <%= render 'formreq' %>
  </div>
<% else %>
  <div class="grid grid-cols-3 gap-4 ml-32 mb-16">
    <%= render 'formreq' %>
  </div>
<% end %>
