<div class="flex justify-center mt-32">
  <div class="content max-w-sm w-auto h-64 lg:max-w-xl lg:flex">
    <div class="h-64 lg:h-auto lg:w-56 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
      <%= image_tag('me.jpg') %>
    </div>
    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      <div>
        <p class="text-gray-700 text-base leading-7 font-sans text-base font-semibold">
          Greetings!! everyone my name is Deepak Mahajan, I am the creator of this website.
          Currently I am pursuing my B.tech degree and have developed this website with ruby_rails.
          I hope you like it.Thanks!! <i class="fa fa-thumbs-up"></i>
        </p>
        <p class="text-blue-700 text-base leading-7 font-sans text-base font-semibold">
          Github link for other projects:
          <a href="https://github.com/deepakMaj" class="text-gray-700 font-sans font-base bg-white hover:text-black">
            https://github.com/deepakMaj
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
