<% if @adventures.count == 1 %>
  <div class="flex justify-center">
    <%= render 'formreq' %>
  </div>
<% elsif @adventures.count == 2 %>
  <div class="grid grid-cols-2 gap-4 lg:ml-32 sm:ml-32  mb-16">
    <%= render 'formreq' %>
  </div>
<% else %>
  <div class="grid grid-cols-3 gap-4 lg:ml-32 sm:ml-4 sm:mr-4 mb-16">
    <%= render 'formreq' %>
  </div>
<% end %>
